


html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

body {
    line-height: 21px;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

p {
    margin-right: 2em;
    font-weight: bold;
    font-size: 0.9em;
    font-weight: 500;
}


button {
    background-color: white;
    border-radius: 30px;
    padding: 0px 1.5em;
    height: 2.5em;
    border: 2px solid black;
    font-size: 0.8em;
    width: 8em;
}

div#navbar {
    display: flex; 
    height: 6%;
    border-bottom: 1px solid gray; 
    padding: 14px 50px;
    max-width: 100%;
    margin: auto;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 10px 18% 10px 18%;
}

div#navbar-left img {
    width: 9em;
    cursor: pointer;
}

div#navbar-right{
    display: flex;
    align-items: center;
}

div#navbar-right p{
    cursor: pointer;
    font-size: 0.8em;
}

div#contact-form{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
    width: 100%;
    height: 60%;
}

div#form-top{
    width: 900px;
    display: flex;
    margin-bottom: 5%;
    height: 40px;
    align-items: center;
}

input{
    font-size: 1em;
    padding-left: 10px;
    width: 30%;
    height: 40px;
    margin:auto;
    margin-left: 0px;
    border: 1px solid black;
}

#inputStyle{
    font-size: 1em;
    padding-left: 10px;
    background-color: white;
    width: 30%;
    
    height: 40px;
    border: 1px solid black;
}

#textAreaStyle {
    width: 100%;
    height: 100px;
    margin: auto;
    border: 1px solid black;
}

#submitBtn {
    margin-top: 20px;
    float: right;
}

@media (width >= 2500px) {
    html {
        font-size: 28px;
    }
}

@media (width >= 3500px) {
    html {
        font-size: 32px;
    }
}
